<html>
    <head>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" href = "/static/js/dashboard.js"></script>

    </head>
  
    <body>
        <a href = "{% url 'cc_logout' %}">Logout</a>
        <div class="container-fluid">

        {% for key, values in chat_data.items %}
                
                
                <div class="row-fluid" alt = {{key}}>
                   <div class="span4 well">
                     {{values.from_name}} <br/>

                     <b> Query: </b>{{values.init_query}}<br/>

                     <b> Last Response : </b> {{k.text}}
                    
                    </div>

                    <div class="span8 well">
                    <ul class="span12">
                    {% for k in values.chat %}
                        {% if k.direction %}
                            <b>{{values.from_name}}</b> :
                        {% else %}
                            <b>CcUser</b> :
                        {% endif %}
                         <li>{{k.text}} {{k.date_time}}</li>
                        <br>
                    {% endfor %} 
                    </ul>               
                    <form action = "{{rr_reply}}"method = "POST" id = {{key}} class="reply">
                       {% csrf_token %}
                       {{ form.as_p }}
                        <input type="hidden" name="reply_id" value={{key}}>
                        <input type="submit" value = "Sent" class="btn btn-primary"> 
                    </form>   
                    </div>
                </div><!--end:row-->        
        {% endfor %}
        </div><!--end:<div class="container-fluid">-->

        <script type="text/javascript" src = "/static/js/bootstrap.js"></script>
    </body>
</html>